.App {
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  text-align: center;
  color: white;
}

.App-intro {
  margin-left: 10px;
  margin-right: 10px;
  font-size: large;
}

.App-error {
  margin-left: 10px;
  margin-right: 10px;
  font-size: large;
  color: red;
}
